{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="feautures">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam soluta reiciendis odio nihil non porro numquam, corporis praesentium deserunt, quidem explicabo amet ad provident, delectus accusamus inventore? Repellendus, dolor fuga!</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}