{% extends 'main/layout.html' %}

{% block title %}Машины в ремонте{% endblock %}

{% block content %}
    <div class="feautures">
        {% for el in vert %}
            <p>{{ el.vs_number }}</p>
        {% endfor %}

        <table>
            <tr>
                <th>id</th>
                <th>Прибор</th>
                <th>Дата изготовления</th>
                <th>Дата ремонта</th>
            </tr>
            {% for i in agr %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.agregat }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.update }}</td>
            </tr>
            {% endfor %}
        </table>
        {% for i in vert %}
        <a href="{{ i.get_absolute_url }}"><button class="btn btn-success" type="submit">{{ i.vs_number }}</button></a><br><br>
        {% endfor %}
    </div>
{% endblock %}